@page "/"
@inject SmartMeterConfiguration smartMeterConfiguration;

<PageTitle>Home</PageTitle>

<h1>Welkom bij SmartEnergy</h1>

Je hebt de applicatie opgestart en deze is gekoppeld aan SmartEnergy meter @smartMeterConfiguration.MeterId. Navigeer naar één van de overzichten via het menu om de data van deze meter te bekijken.
